<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <ion-title>Article</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Shaqi_jrvej.jpg/800px-Shaqi_jrvej.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Article title is here</ion-card-title>
    </ion-card-header>
    <ion-card-content>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas, 
      laborum voluptatum. Ipsa ad vero veritatis eaque praesentium similique deserunt 
      qui voluptate sed ipsum repellat, nisi id fuga incidunt impedit neque.</ion-card-content>
  </ion-card>
</ion-content>