ion-header {
    background-color: #fff;
    ion-toolbar {
        --background: #e0e0e0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .addBtn1 {
        margin-right: 10px;

    }
}
